@font-face {
    font-family: norse;
    src: url(./fonts/Norse-Bold.otf);
}

body {
    display: flex;
}

header {
    background-image: url("img/background.jpg");
    background-size: cover;
}

header h1 {
    color: white;
    font-family: norse, sans-serif;
}

#backdrop {
    background-color: black;
    opacity: 0.7;
    height: 20%;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 80%;
}

main {
    display: flex;
    flex-direction: column;
    font-family: Verdana, sans-serif;
}

main div {
    padding: 30px;
}

#top {
    font-weight: bold;
}

#middle {
    color: grey;
}

#middle p {
    color: black;
    font-weight: bold;
}

form {
    display: flex;
    flex-wrap: wrap;
}

button {
    background-color: #596D48;
}

input {
    border-color: #E5E7EB;
}

:invalid {
    border: red;
}

:focus {
    border: blue;
    box-shadow: 1px 1px grey;
}